@media screen and (max-width: 768px) {
    .button-container {
        flex-direction: row;
        justify-content: space-between;
    }
.button-container::before {
        display: block;
    }
}

.header{
    background-color: #32579E;
    display: flex;
    padding: 20px;
    position: relative;
    height: 70px;
    text-align: center;
    color: #fff;
    font-family: Poppins;
    font-weight: normal;
}

body{
    background-image: url('bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
}

main{
    width: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

.PH{
    position: absolute;
    top: 0px;
    left: 143px;
    font-size: 25;
    font-weight: 500;
}

.SSS{
    position: absolute;
    top: 0px;
    left: 140px;
    font-size: 36px;
    font-weight: bolder;
}

.header img{
    position: absolute;
    top: 8px;
    left: 10px;
    width: 120px;
    height: 90px;
    object-fit: cover;
}

nav{
    position: absolute;
    display: block;
    margin-top: 10px;
    left: 360px;
}

.main button{
    background-color: #32579E;
    border: solid;
    border-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    height: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.button-container::before {
    content: "\2630";
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    display: none;
}

.applicant,
.create,
.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
    padding: 15px 30px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.applicant:hover,
.create:hover,
.admin:hover {
    background-color: #0056b3;
}


.title {
    width: 100%;
    margin-top: 150px;
    position: relative;
    text-align: center;
}

p.wc {
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 30px;
    font-weight:bold;
    font-family: Poppins;
    color: white;
}

h1.retiro{
    margin: 0px;
    font-size: 90px;
    font-weight: bolder;
    font-family: Poppins;
    color: white;
}

.retirement {
    margin: 0px;
    width: 800px;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: Rubik;
    color: white;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title hr{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
}

i.bukas{
    margin-top: 25px;
    font-size: 20px;
    font-weight: normal;
    font-family: Poppins;
    color: white;
}

