body {
    margin: 0;
    background-image: url('bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Poppins';
}

main{
    width: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

.header{
    background-color: #32579E;
    display: flex;
    padding: 20px;
    position: relative;
    height: 70px;
    text-align: center;
    color: #fff;
    font-family: Poppins;
}

.PH{
    position: absolute;
    top: 0px;
    left: 143px;
    font-size: 25;
    font-weight: 500;
}

.SSS{
    position: absolute;
    top: 0px;
    left: 140px;
    font-size: 36px;
    font-weight: bolder;
}

.header img{
    position: absolute;
    top: 8px;
    left: 10px;
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100px
}

.login-rectangle {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2.login {
    font-size: 30px;
    font-weight: 700;
    color: #32579E;
    margin-bottom: 20px;
}

.admLog {
    text-align: center;
}

.admLog label {
    display: block;
    text-align: left;
    color: #32579E;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.admLog input {
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #8FB2F4;
    color: #32579E;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.login-rectangle button {
    width: 80%;
    height: 40px;
    background-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    color: white;
    border: 2px solid #32579E;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-rectangle button:hover {
    background-color: #8FB2F4;
    color: white;
}

/* Additional styling for other components */

.rectangle {
    margin-top: 15px;
    margin-left: 50px;
    width: 85%;
    left: 50px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 450px;
}

.rectangle button {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    color: white;
    border: 2px solid #32579E;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}

.rectangle button:hover {
    background-color: #8FB2F4;
    color: white;
}

.member th {
    color: #32579E;
    font-weight: bold;
}

.empHisto th,
.depChild th {
    color: #32579E;
    font-weight: bold;
    width: 1050px;
}

.create-rectangle {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.create-rectangle .log {
    margin-bottom: 20px;
}

.create-rectangle .accForm {
    text-align: center;
}

.create-rectangle label {
    display: block;
    text-align: left;
    color: #32579E;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}


.create-rectangle button {
    width: 80%;
    height: 40px;
    background-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    color: white;
    border: 2px solid #32579E;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}

.create-rectangle button:hover {
    background-color: #8FB2F4;
    color: white;
}

.accForm {
    align-items: center;
}

.accForm label {
    display: block;
    text-align: left;
    color: #32579E;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.accForm input {
    width: 100%;
    max-width: 300px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #8FB2F4;
    color: #32579E;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.accForm input[type="date"] {
    width: 100%;
    max-width: 300px; 
}
